.register{
    text-align: center;
     font-size: xx-large;
     padding: 20px;
     border: 2px solid grey;
}
.all{
    text-align: center;
    padding: 20px;
    border: 2px solid grey;
    border-width:60px ;
}
.text,.email,.password{
    padding: 10px;
    
}
.submit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    
}
.submit:hover{
   color: blueviolet;
}